<section class="container-fluid">
    <div class="row">
    <div class="col-12 col-md-12 col-lg-12" style= "margin-top: 10px;">
    {{!-- Welcome --}}
    <nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Welcome, {{name}}! Here are your current blogs:</span>
    </div>
    </nav>
    {{!-- Welcome End --}}
    {{!-- Blog Card --}}
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    <div class="card" style= "margin-top: 10px;">
    <div class="card-header">
    <a href="/blog/{{blog.id}}"><h5>{{blog.name}}</h5></a>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">{{blog.description}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    </div>
    {{/each}}
    {{/if}}
    {{!-- Blog Card End --}}
    </div>
    </div>
</section>

{{!-- <script src="../public/js/dashboard.js"></script> --}}