{{#each blogs as |blog| }}
<div class="card" style= "margin-top: 10px;">
  <div class="card-header bg-dark">
  <h5 class="text-warning">{{blog.name}}</h5>
  <p class="text-white text-white">Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="card-body bg-light">
    <p class="card-text">{{blog.description}}</p>
  </div>
</div>
    <a href="/comment/{{blog.id}}"><button class="btn btn-primary btn-block bg-secondary" type="button">Comment</button></a>
{{/each}}

